// Colors
$white : #fff;
$purple : #604d8c;

// Settings
$primary: $purple;

// Defaults
$bg : $primary;

body{
    background-color: lighten($bg,55%);
    .pusher{
        .wrapper{
            display: flex;
            flex-direction: row;
            .sidebar-wrapper{
                position: relative;
                z-index: 1;
                background-color: $bg;
                width: 250px;
                flex: 0 0 auto;
                position: relative;
                height: 100vh;

                .vertical.menu{
                    margin: 1em;
                    background-color: $bg;
                    box-shadow: none;
                    border: none;
                }
            }
            .content-wrapper{
                flex: 1 1 auto;
                min-width: 0px;
                margin: 1em;
            }
        }
    }
}
